<h3>Ranking of events</h3>

<style>
    td, th {
        padding: 10px;
    }
</style>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Events count</th>
    </tr>
  </thead>

  <tbody>
     <% User.order(events_count: :desc).limit(5).each  do |user|%> 
      <tr>
        <td><%= user.name %> </td>
        <td><%= user.events_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Ranking of offers</h3>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Offers count</th>
      
    </tr>
  </thead>

  <tbody>
     <% User.order(offers_count: :desc).limit(5).each  do |user| %> 
      <tr>
        <td><%= user.name %> </td>
        <td><%= user.offers_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
