<h3>Home</h3>
<br>
<h5>Wystawiający miesiąca !</h5>

<style>
    td, th {
        padding: 5px 75px 0px 0px;
    }
</style>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>



  <tbody>
     <% User.order(offers_count: :desc).limit(1).each  do |user|%> 
      <tr>
       <td><%= user.name%></td>
       <td><%= image_tag(user.avatar_url, :width => 50) if user.avatar %></td>
      </tr>
    <% end %>
  </tbody>
</table>




