<h1>Listing offers</h1>

<style>
    td, th {
        padding: 10px;
    }
</style>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Cost</th>
      <th>Picture</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Area</th>
      <th>Rooms</th>
      <th>Localization</th>
      <th style="width: 30%">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.cost %></td>
        <td><%= offer.picture %></td>
        <td><%= offer.start_date %></td>
        <td><%= offer.end_date %></td>
        <td><%= offer.area %></td>
        <td><%= offer.rooms %></td>
        <td><%= offer.localization %></td>
        <td><%= offer.description %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) if offer.user_id == current_user.id %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } if offer.user_id == current_user.id%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
